@import url('https://fonts.googleapis.com/css2?family=Comme:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titan+One');
$bone: #ecece9;
$bck: #131316;

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}
body {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    font-family: 'Comme', sans-serif;
    padding: 0;
    margin: 0;
    min-height: 300px;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
}
main {
    margin-left: 5rem;
    padding: 1rem;
}



.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: 600ms ease;
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    z-index: 9999;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

button {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    background: transparent;
    border: none;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: 200ms;
}

h3::selection {
    background: rgba(255, 255, 255, 0.158);
}

::selection {
    background-color: $bone;
    color: $bck;
}

.light-mode {
    color: $bck;

        h3::selection{
            background: rgba(0, 0, 0, 0.137);
        }

        ::selection {
            background-color: $bck;
            color: $bone;
        }
  }

.light-mode::selection{
    background:#131316
  }

.cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: exclusion;
    background-color: $bone;
    z-index: 10000;
    height: 23px;
    width: 23px;
    transition: all ease-out;
  }
  
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.animate-charcter {
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ff0000 0%,
    #ff9a00 10%,
    #d1de21 20%,
    #4fdc4a 30%, 
    #3fdad8 40%,
    #2fc9e2 50%,
    #1c7fee 60%,
    #5f15f2 70%,
    #ba0cf8 80%,
    #fb07d9 90%,
    #ff0000 100%
  );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #ffffff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}


.logos {
    display: flex;
    background-color: transparent;

    img {
        border-radius: 20%;
    }
    .logo {
        flex: 33.33%;
        padding: 10px;
    }
    .logo:nth-child(2){
        transition-delay: 100ms;
    }
    .logo:nth-child(n){
        transition-delay: 200ms;
    }
    .logo:nth-child(n){
        transition-delay: 300ms;
    }
    

}

@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }

  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
      transition: var(--transition-speed);
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      margin-left: 10%;
      left: 0px;
      transition: 600ms ease;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
  